# Deep Learning Framework
torch==2.5.1
torchvision>=0.20.1  

# Face Detection & Preprocessing
retina-face
opencv-python>=4.5.0
Pillow>=8.0.0

# Visualization & Metrics
scikit-learn>=1.0.2 
matplotlib>=3.5.0
seaborn>=0.11.2      
grad-cam>=1.4.6      

# Utilities
numpy>=1.21.0
tqdm>=4.62.0
pandas>=1.3.0
